apipkg==1.5
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==3.5.0
decorator==4.3.0
execnet==1.5.0
fitz==0.0.1.dev2
funcsigs==1.0.2
future==0.17.1
httplib2==0.18.0
idna==2.8
isodate==0.6.0
lxml==4.2.5
mock==2.0.0
more-itertools==5.0.0
networkx==2.2
neurdflib==5.0.0.post1
nibabel==2.3.1
nipype==1.1.7
numpy==1.15.4
packaging==18.0
pandas==0.23.4
pbr==5.1.1
pluggy==0.8.0
prov==1.5.3
py==1.7.0
pydot==1.4.1
pydotplus==2.0.2
PyMuPDF==1.13.20
pyparsing==2.3.0
pytest==4.0.2
pytest-forked==0.2
pytest-xdist==1.25.0
python-dateutil==2.7.5
pytz==2018.7
pyxnat==0.0.0
rdflib==4.2.2
requests==2.21.0
scipy==1.2.0
simplejson==3.16.0
six==1.12.0
traits==4.6.0
urllib3==1.24.1
